<mySlider [nombre]="peliculaText"  [size] = "'small'"></mySlider>
<div class="center">
    <section id="content" class="content">
        <div id= "favorita" *ngIf="favorita">
            <h2 class="subHeader">
                Peliculas Favoritas
            </h2>
            <h4>
                {{favorita.title | uppercase}}
            </h4>
            <h5>
                {{favorita.year}}
            </h5>
            <h5>
                {{fecha | date: 'dd/MM/yyyy'}}
            </h5>
        </div>
        <!--
        <h1>{{ titulo }}</h1>
        Evento
        <button (click)="cambiarTitulo()">Pulsame</button>
        <hr />
        <h2>Primera pelicula</h2>
        {{ peliculas[0].title }}
        <hr />
        <h2>Números de peliculas</h2>
        {{ peliculas.length }}
        <hr />
        <div *ngIf="peliculas.length <= 8">
            <h6>Hay muchas peliculas</h6>
        </div>
        <div *ngIf="peliculas.length <= 3">
            <h6>Hay pocas peliculas</h6>
        </div>
        <hr />
        <h2>Listado de peliculas</h2>
        -->
        <div id="articles" *ngIf="peliculas.length > 0">
            <!--pelicula.component.html-->
            <div *ngFor="let pelicula of peliculas; let i = index">
                <app-pelicula
                [pelicula] ="pelicula"
                (MarcarFavorita) ="mostrarFavorita($event)"
                ></app-pelicula>
            </div>
        </div>
    </section>
    <mySidebar></mySidebar>
    <div class="clearFix"></div>
</div>
