<header id="header" class="header">
    <div class="center">
        <!--LOGO-->
        <div id="logo" class="logo">
            <img src="assets/img/angular.svg" alt="Logotipo" class="appLogo" />
            <span id="brand" class="brand">
                <strong>Curso</strong>
                Angular
            </span>
        </div>
        <!--MENU-->
        <nav id="menu" class="menu">
            <ul class="menuUl">
                <li class="li">
                    <a href="index.html">Inicio</a>
                </li>
                <li class="li">
                    <a href="blog.html">Blog</a>
                </li>
                <li class="li">
                    <a href="formulario.html">Formulario</a>
                </li>
                <li class="li">
                    <a href="#">Página1</a>
                </li>
                <li class="li">
                    <a href="#">Página2</a>
                </li>
            </ul>
        </nav>
        <!--LIMPIAR FLOTADOS-->
        <div class="clearFix"></div>
    </div>
    </header>
