<header id="header" class="header">
    <div class="center">
        <!--LOGO-->
        <div id="logo" class="logo">
            <img src="assets/img/angular.svg" alt="Logotipo" class="appLogo" />
            <span id="brand" class="brand">
                <strong>Curso</strong>
                Angular
            </span>
        </div>
        <!--MENU-->
        <nav id="menu" class="menu">
            <ul class="menuUl">
                <li class="li">
                    <a [routerLink]="['/home']">Inicio</a>
                </li>
                <li class="li">
                    <a [routerLink]="['/blog']">Blog</a>
                </li>
                <li class="li">
                    <a [routerLink]="['/formulario']">Formulario</a>
                </li>
                <li class="li">
                    <a [routerLink]="['/peliculas']">Película</a>
                </li>
                <li class="li">
                    <a [routerLink]="['/pagina-de-pruebas']">Página</a>
                </li>
            </ul>
        </nav>
        <!--LIMPIAR FLOTADOS-->
        <div class="clearFix"></div>
    </div>
    </header>
